* {
   margin: 0;
   padding: 0;
}

a {text-decoration: none;
color: #ceaf00;
font-family: 'Lobster', cursive;
} 

body {
   font-family: 'Lobster', cursive;
   background-color: #020202ce;
   color: #cab603;
}

.logo h1 {
   color: #cfb001;
   font-size: 42px;
   font-weight: 800;
   font-family: 'Lobster', cursive;
}

h1 {
   font-size: 158px;
   font-weight: 100;
   color: #ffffff;
   font-family: 'Bad Script', cursive;
}



.hero {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 70vh;
   background-size: cover;
   background-image: url(img/632672.jpg);
   
   background-position: center
}

.cards {
   padding: 20px 100px;
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-evenly;
}

h2 {
   text-align: center;
   margin: 20px 0px;
}

.card {
   text-align: center;
   box-shadow: 2px 5px 8px 0 rgba(204, 167, 1, 0.664);
   transition: 0.3s;
   padding: 15px 15px;
   width: 20vw;
}

.card h3 {
   margin-top: 40px;
}

.card .foto1 {
   background-image: url(./img/12946938_767859613349869_949290536_o.jpg);
   background-size: cover;
   background-position: center;
   padding: 90px 40px;
}

.card .foto2 {
   background-image: url(./img/AdobeStock_195178815-compressed-1140x760.jpg);
   background-size: cover;
   background-position: center;
   padding: 90px 40px;
}

.card .foto3 {
   background-image: url(./img/125-thumb.jpg);
   background-size: cover;
   background-position: center;
   padding: 90px 40px;
}


.card:hover {
   box-shadow: 3px 6px 12px 0 rgba(0, 0, 0, 0.2);
}

nav {
   background-color: #75757500;
   height: 10vh;
   padding: 16px 0px;
   color: #d3a200;
position: sticky;
top: 0px;
   font-size: 22px;
}

.card ul {
   text-orientation: sideways;
   text-decoration: none;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.card li {
   list-style: none;
}

nav ul {
   text-orientation: sideways;
   text-decoration: none;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

nav li {
   list-style: none;
   text-decoration: none;
}


.footer{
   margin-top: 80px;
   padding: 30px;
   background-color: #c7b30080;
}

.footer ul{
   text-decoration: none;
   color: #030303;
}

.card .Eudora {
   background-image: url(./img/page_1.jpg);
   background-size: cover;
   background-position: center;
   padding: 225px 40px;
}

.card .Natura {
   background-image: url(./img/1-e1645032981634.png);
   background-size: cover;
   background-position: center;
   padding: 225px 40px;
}

.card .Importados {
   background-image: url(./img/design-de-luxo-dourado-de-logotipo-de-perfume_23-2148458761.jpg);
   background-size: cover;
   background-position: center;
   padding: 225px 40px;
}